body{

background:#020617;

position:relative;

}

body::before{

content:"";

position:fixed;

width:700px;

height:700px;

background:#2563eb;

filter:blur(180px);

top:-200px;

left:-150px;

opacity:.25;

z-index:-1;

}

body::after{

content:"";

position:fixed;

width:700px;

height:700px;

background:#9333ea;

filter:blur(180px);

bottom:-250px;

right:-150px;

opacity:.25;

z-index:-1;

}
